.projects-container{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     width: 100%;
}


.container {
     position: relative;
    width: 100%;
    overflow: hidden
  }
  
  .image {
    display: block;
    width: 100%;
    height: 100%;
    transition : ease 1s;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.5);
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  .container:hover .image {
    transform : scale(1.1)
  }
  
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .each-item{
       width: 33.3%;
  }

  @media(max-width : 699px){
     .each-item{
          width: 100%;
          height: 500px;
     }
   
  }