.customTextInput{
    /* padding: 15px 30px;
    border: none;
    margin-right: 1.5rem;
    min-width: 45%; */
    font-size: 16px;
    font-weight: 400;
    line-height: 1.65;
    display: block;
    /* width: 100%; */
    min-width: 45%;
    /* margin: 0; */
    margin-right: 1.5rem;
    padding: 15px 30px;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: all;
    transition-property: all;
    letter-spacing: 0;
    text-transform: none;
    color: #5c5c5c;
    border: 2px solid #ededed;
    border-radius: 0;
    outline: 0;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.customTextArea{
    margin-right: 1.5rem;
    width: 98%;
    font-family: Lato,'sans-serif';

    font-size: 16px;
    font-weight: 400;
    line-height: 1.65;
    display: block;
    margin: 0;
    padding: 15px 30px;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: all;
    transition-property: all;
    letter-spacing: 0;
    text-transform: none;
    color: #5c5c5c;
    border: 2px solid #ededed;
    border-radius: 0;
    outline: 0;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media(max-width:600px){
    .customTextInput,.customTextArea{
        margin-bottom: 1.5rem;
    }
}