.core-features-container{
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    align-items: center;
    margin: 8% 0;

}


.core-features-container-heading,.core-features-container-para{
    text-align: center;
    padding: 2rem 0;
    width: 40%;
    margin: 0 auto;
}
.core-features-container-para{
    margin-top: -2rem;
    margin-bottom: 1rem;
    line-height: 25px;
}
.core-feature-card{
    display: flex;
    align-items: flex-start;
    width: 30%;
    height: 150px;
    justify-content: space-between;
    margin: 0.5rem 0;
}
.core-featrure-card-title{
    padding: 0.5rem 0;
}
.core-feature-card-img{
height: 50px;
width: 50px;
object-fit: cover;
margin: 0 1rem;
display: flex;
align-items: flex-start;
}
.core-features-flex-1{
    display: flex;
    justify-content: space-around;
   
}
.button-container{ display:flex;align-items:center; justify-content: center; margin: 1rem 0; }
/* animation */

.scroll-left {
 height: 120px;	
 overflow: hidden;
 position: relative;
 text-align: center;
}
.scrolling-text{
    font-size: 90px;
    font-weight: bold;
     text-shadow: 1px 1px 2px black; 
     background-color: red;
     height: 120px;
}
.scroll-left p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-left 10s linear infinite;
 -webkit-animation: scroll-left 10s linear infinite;
 animation: scroll-left 10s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}


@media(max-width : 600px){
    .core-features-flex-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .core-features-container{
        height: 100%;
        padding-left: 1%;
        padding-right: 1%;
       
    
    }
    .core-feature-card{
        display: flex;
        align-items: flex-start;
        width: 100%;
        margin-bottom: -2rem;
        margin: 0.2rem 0;
    }


    .core-features-container-heading,.core-features-container-para{
        text-align: center;
        padding:  0.5rem;
        width: 100%;
        margin: 0.5rem auto;
    }
    .core-features-container-para{
        padding-bottom: 1rem;
    }
    .button-container{ display:flex;align-items:center; justify-content: center; margin:  0; }

    
}
