.customCyanButton {
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 19px 30px;
  cursor: pointer;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: all;
  transition-property: all;
  text-align: center;
  text-decoration: none;
  letter-spacing: .075em;
  text-transform: uppercase;
  border: none;
  outline: 0;
  color: rgb(255, 255, 255);
}


/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal-cyan {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #10ac84;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-shutter-out-horizontal-cyan:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eb3b5a;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-shutter-out-horizontal-cyan:hover, .hvr-shutter-out-horizontal-cyan:focus, .hvr-shutter-out-horizontal-cyan:active {
    color: 'white';
  }
  .hvr-shutter-out-horizontal-cyan:hover:before, .hvr-shutter-out-horizontal-cyan:focus:before, .hvr-shutter-out-horizontal-cyan:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  