.service-container{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 3rem;

}
.service-card{
    width: 30%;
    height: 400px;
    margin: 2rem 0;
}
.service-card img{
    height: 150px;
    width: 80%;
    object-fit: cover;
}
.service-card-container{
    display: flex;
    justify-content: space-between;
}
.highlight-word{
    color: #eb3b5a;
}
.highlight-word-container{
    padding: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.3;
}
.service-card-heading{
    padding: 1rem 0;
    color: #3F3D56;
}
.service-container-para{
   color: #4e4e4e;
}
.service-container-paragraph{
    text-align: center;
    /* padding:  0.5rem; */
    width: 40%;
    margin: 0 auto;
    line-height: 25px;
    color: #4e4e4e;
}

@media(max-width:600px){
    .service-container{
        text-align: center;
        padding-left: 1%;
        padding-right: 1%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .service-card{
        width: 100%;
        height: 300px;
        margin: 0;
    }
    .service-card-container{
        display: flex;
        flex-direction: column;
        margin: 0 0.5rem;
        /* justify-content: space-between; */
    }
    .service-card-heading{
        padding: 0.5rem 0;
    }
    .highlight-word-container{
        padding: 0rem;
        padding: 1rem;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 0;
    }
    .highlight-word{
        font-size: 30px;
        line-height: normal;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }

    .service-container-paragraph{
        text-align: center;
        /* padding:  0.5rem; */
        width: 100%;
        margin: 0 auto;
    }
    .service-card img{
        height: 200px;
    }
}