.hero-image {
   
  width: 100%;
      /* padding : 1rem 4rem 0 4rem; */
      text-align: center;
      /* background: url("./../../assets/banner.jpg"),#aaa; */
      background:linear-gradient( rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0.4)100%),url("./../../assets/banner.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      overflow: hidden;
      position: relative;
      margin-left: 0;
      z-index: -1;
      padding-top: 60px;
      justify-content: center;
      align-items: center;
   }

   .hero-text{
     color: white;
     font-size: 60px;
     padding: 0;
     margin: 0;
     font-weight: 900;
     letter-spacing: 1.25px;

   }
   .hero-button-group{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
   }
   .hero-each-button{
     margin: 4rem 2rem;
     z-index: 1;
     background-color: green;
   }
   @media (max-width : 699px){
    .hero-image {
   
      width: auto;
          /* padding : 1rem 4rem 0 4rem; */
          text-align: center;
          background:linear-gradient( rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0.4)100%),url("./../../assets/banner.jpg");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          height: 100vh;
          overflow: hidden;
          position: relative;
          margin-left: 0;
          z-index: -1;
          padding-top: 60px;
       }
       .hero-button-group{
        display: flex;
        flex-direction: column;
      }
      .hero-each-button{
        margin: 1rem 0;
        z-index: 1;
      }
      .hero-text{
        color: white;
        font-size: 40px;
        font-weight: bold;
        line-height: 1.25;
   
      }
   }