.flex-container {
    display: flex;
    height: 80vh;
 justify-content: center;
    /* background-color: #111; */
    /* background:linear-gradient( rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0.4)100%),url("https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80"); */
    background:linear-gradient( rgba(0, 0, 0,0.6) 100%, rgba(0, 0, 0,1) 100%),url("../../assets/contact.jpg");


    /* background: linear-gradient(to right, #F45C43, #EB3349),url("https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80"); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.flex-child-1{
    width: 35%;
height: 100%;
margin-top: 20%;


}
.flex-child-2{
    width: 65%;
}

.flex-child-1:first-child {
    margin-right: 20px;
} 
.flex-child-2-input{
    padding: 0.8rem 0;
    display: flex;

}

@media(max-width:600px){
    .flex-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-left: 1%;
        padding-right: 1%;
        padding: 2rem 1rem;
    }
    .flex-child-1{
        width: 100%;
    margin-top: 0;    
    padding: 2rem 1rem;
    
    }
    .flex-child-2{
        width: 100%;
        
    }
    
    .flex-child-2-input{
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
    
    }
    
    
}