.flex-container {
    display: flex;
    height: 80vh;
 justify-content: center;
    background-color: cyan;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
}
.flex-child-1{
    width: 35%;
height: 100%;
margin-top: 20%;


}
.flex-child-2{
    width: 65%;
}

.flex-child-1:first-child {
    margin-right: 20px;
} 
.flex-child-2-input{
    padding: 0.8rem 0;
    display: flex;

}

@media(max-width:600px){
    .flex-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-left: 1%;
        padding-right: 1%;
        padding: 2rem 1rem;
    }
    .flex-child-1{
        width: 100%;
    margin-top: 0;    
    padding: 2rem 1rem;
    
    }
    .flex-child-2{
        width: 100%;
    }
  
    .flex-child-2-input{
        display: flex;
        flex-direction: column;
        padding: 0;
    
    }
    
    
}